.PaintingDetails{
    text-align: center;
}

.methodGroup {
    float: left;
}

.toolGroup{
    float: right;
}

.colorGroup{
    float: center;
}

.r1c2 {
    width: 100% !important;
    height: 100% !important;
    text-align: right;
}

.componentTitle{
    text-align: left;
}

.listComponent{
    text-align: left;
}