.formPanel {
    background-color: #4d4d4d;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 5px;
}

.registerPageBackground{
    text-align: center;
    background-image: url(https://i.pinimg.com/originals/35/bd/42/35bd4257e2cd65ec2bffe93f37384f5b.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #121212;
    padding-top: 20%;
    padding-bottom: 25%;
    height: 100%;
    width: 100%;
}